extends ../common/layout

block layout-content
  h1.mb-4 Dashboard

  .row.g-3
    .col-md-6
      .card
        .card-body
          h5.card-title Total Users
          p.display-6 #{userCount}
          a.btn.btn-sm.btn-outline-primary(href="/admin/users") Manage Users
    .col-md-6
      .card
        .card-body
          h5.card-title Total Posts
          p.display-6 #{postCount}
          a.btn.btn-sm.btn-outline-primary(href="/admin/posts") Manage Posts

  hr.my-4

  h2 Quick Links
  ul
    li: a(href="/admin/users") Users
    li: a(href="/admin/posts") Posts
    li: a(href="/admin/api") API Endpoints
