extends ../common/layout

block layout-content
  .landing-container.text-center
    h1.mb-3 FoodSpot Admin Dashboard
    p.mb-4 Please log in to get started.
    a.btn.btn-primary.btn-lg(href="/admin/login") Log in now

